# Iris Data set - Classification Problem

Import data set (iris.csv) from cloud

In [20]:
# The code was removed by Watson Studio for sharing.

Store the data into pandas dataframe

In [21]:
import pandas as pd

columns = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
df = pd.read_csv(body, names=columns)
df.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [22]:
df.shape

(150, 5)

In [23]:
df.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [24]:
# class distribution
print(df.groupby('class').size())

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [11]:
# Load libraries
import pandas
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [12]:
# Spot Check Algorithms
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('TREE', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))

In [33]:
values =df.values
features = values[:, 0:4]
labels = values[:, 4]

In [34]:
print(features.shape)
print(labels.shape)

(150, 4)
(150,)

In [36]:
from sklearn.model_selection import train_test_split

features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size=0.3)

In [41]:
# evaluate each model in turn
results = []
names = []
for name, model in models:
    model.fit(features_train, labels_train)
    prediction = model.predict(features_test)    
    print('model: ', name)
    print('accuracy: ', accuracy_score(labels_test, prediction))

model:  LR
accuracy:  0.911111111111
model:  LDA
accuracy:  0.933333333333
model:  KNN
accuracy:  0.977777777778
model:  TREE
accuracy:  0.933333333333
model:  NB
accuracy:  0.911111111111
model:  SVM
accuracy:  0.977777777778

In [42]:
# Make predictions on validation dataset
knn = KNeighborsClassifier()
knn.fit(features_train, labels_train)
predictions = knn.predict(features_test)
print(accuracy_score(labels_test, predictions))
print(confusion_matrix(labels_test, predictions))
print(classification_report(labels_test, predictions))

0.977777777778
[[14  0  0]
 [ 0 13  0]
 [ 0  1 17]]
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        14
Iris-versicolor       0.93      1.00      0.96        13
 Iris-virginica       1.00      0.94      0.97        18

    avg / total       0.98      0.98      0.98        45